*{
    margin: 0;
    padding: 0;
}


/* Variables */
:root{
    --colorTitulo: #8d8d8d;
    --colorBoton: #119aa5;
    --colorPaquetebanner: #fdc508;
    --colorNombrePaquete: #373a3c;
}

body{
    font-family: helvetica;
}

.logo {
    width: 60px; /* Ancho deseado */
    height: 55px; /* Alto deseado */
    border-radius: 20%; /* Forma redonda */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra ligera */
    float: right;
    max-width: 100%;
  }

/* Header */
.parallax{
    width: 100%;
    height: 100vh;
    background-image: url(Fotos/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Fin del Header */

.parallax-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 72%;
}

.parallax h2{
    font-size: 4em;
    color: white;
    text-align: center;
}

.parallax p{
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.abajo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.abajo img{
    width: 2%;
}

.desliza{
    position: absolute;
    left: 0;
    bottom: 1em;
    right: 0;
}

/* Estilos de targetas */
.MejoresOfertas{
    width: 80%;
    margin: 0 auto; /* Se alinéa en el centro */
    padding-top: 7em;
    padding-bottom: 11em;
    height: 130vh;
}

.TituloPag{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--colorTitulo);
    padding-bottom: 2em;
}

.recomendados{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    width: 100%;
}

.card{
    box-shadow: 0 0 6px rgba(0, 0, 0, 3);
    text-align: center;
    padding-bottom: 40px;
    border-radius: 10px 10px 10px 10px;
    padding: 40px;
}

.card img{
    width: 100%
 }

.card:hover{
    transform: scale(1.04,1.04);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}

.NombrePaquete{
    font-size: 1.1em;
    font-weight: bold;
    color: var(--colorNombrePaquete);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Padding funciona como las hojas del reloj 12,3,6,9 */

.textDescription{
    font-size: 1em;
    color: var(--colorTitulo);
    padding: 10px 40px 30px 40px;
}

.BotonVer{
    text-decoration: none;
    background-color: var(--colorBoton);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.BotonVer:hover{
    background-color: black;
}

.BotonVer2{
    text-decoration: none;
    background-color: #660000;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.BotonVer2:hover{
    background-color: black;
}

/* Banner info */
.bannerPromo{
    background-image: url(Fotos/MercedesC63AMG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:70vh;
    position: relative;

}

.info{
    position: absolute;
    bottom: 7em;
    left: 5em;
}

.info h2{
    font-size: 4em;
    color: white;
    margin-bottom: 20px;
}

.nike{
    width: 80%;
    margin: 0 auto;
    padding-top: 7em;
    padding-bottom: 8em;
    text-align: center;
}

.tituloPa{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--colorTitulo);
    padding-bottom: 2em;
}

.nike p{
    color:var(--colorTitulo);
    padding-bottom: 50px;
}

.recomendados2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    width: 100%;
}

.NombrePaquete2{
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textDescription2{
    font-size: 1em;
    color: var(--colorTitulo);
    padding: 10px 40px 30px 40px;
}

/* Banner separación */
.banner3{
    background-image: url(Fotos/Porsche911GT3RS.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 115vh;
}

footer{
    background-color: black;
    height: 2cm;
}



/* Footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    height: 55vh;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.menu {
    position: relative;
    background-color: #f1f1f1;
  }
  
  .menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-items {
    list-style: none;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu-items li {
    margin-right: 30px;
  }
  
  .menu-items li:last-child {
    margin-right: 0;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .menu-items {
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 1;
      display: none;
      background-color: #f1f1f1;
      padding: 10px;
      width: 100%;
    }
  
    .menu-items li {
      margin-bottom: 10px;
    }
  
    .menu-toggle:checked ~ .menu-items {
      display: block;
    }
  }